<div class="container">
    <div class="row">
              <div class="bondi-{{id}} col-lg-12 col-md-12 col-sm-12 centered">
                <h1> {{id}} </h1>
                <p class="lead">en Belgrano - Cabildo y Juramento</p>
              </div>
            <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 centered">
                <h1>Hoy. </h1>
                <h3>  15 minutos <h3>
                <h4><small>hace 15 minutos</small></h4>
                <h4><small>hace 40 minutos</small></h4>
                <h4><small>hace 1 hora</small></h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 centered">
                <h1>Hist </h1>
                <h3>12 minutos <h3>
                <h4><small>18:30</small></h4>
                <h4><small>18:20</small></h4>
                <h4><small>18:18</small></h4>
            </div>
           
            </div>
</div>
