<div class="container">
    <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 centered">
                <h1> Hola! </h1>
                <h5> Que colectivo esperas </h5>
                <p class="lead">Belgrano - Cabildo y Juramento</p>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor">
                </div>
              </div>
            </div>
            <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 centered">
                <h1>60 </h1>
                <h4><small>en 15 minutos</small></h4>
                  <h5><small>el ultimo paso hace 2 minutos</small></h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 centered">
                <h1>168 </h1>
                 <h4><small>en 15 minutos</small></h4>
                 <h5><small>el ultimo paso hace 3 minutos</small></h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 centered">
                <h1>152 </h1>
                <h4><small>en 15 minutos</small></h4>
                  <h5><small>el ultimo paso hace 1 minuto</small></h5>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 centered">
                <h1>71 </h1>
                <h4><small>en 15 minutos</small></h4>
                  <h5><small>el ultimo paso hace 2 minutos</small></h5>
            </div>

            </div>
</div>
